{% extends 'layout.html' %}

{% block content %}
    <div>
        <video id="videoPlayer" controls>
            <source src="playVideo?fileName={{ fileName }}" type="video/mp4">
        </video>
    </div>
    <div>
        <ul class="nav">
          <li class="nav-item list-group-item active">
            <a class="nav-link" href="#">1</a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" href="#">2</a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" href="#">3</a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link" href="#">4</a>
          </li>
        </ul>
    </div>
{% endblock %}
