<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="styleSheet" type="text/css" href="/css/bootstrap.min.css">
        {% block css %}{% endblock %}
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
                <div class="navbar-collapse">
                    <div class="navbar-nav">
                        {% if userRole != 3 %}
                            <a class="nav-item nav-link active" href="/main">开始记录</a>
                        {% endif %}
                        <a class="nav-item nav-link active" href="/allPatient">全部病人</a>
                        <a class="nav-item nav-link active" href="/allRecord">全部记录</a>
                        {% if userRole == 1 %}
                            <a class="nav-item nav-link active" href="/userForm">添加用户</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <br>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
