{% extends 'layout.html' %}

{% block navbar %}
    <div class="form-group">
        <label>用户名</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <span id="error" class="text-warning"></span>
    </div>
    <button id="login" type="submit" class="btn btn-primary">提交</button>
    <script>
        $("#login").click(function() {
            $.ajax({
                url: "/login/",
                type: "POST",
                data: {
                    "username": $("#username").val(),
                    "password": $("#password").val(),
                },
                success:function(callback){
                    if (callback.msg != "success") {
                        $("#error").html(callback.msg);
                    }
                    else {
                        window.location.href = "/main";
                    }
                }
            });
        });
    </script>
{% endblock %}
