{% extends 'layout.html' %}

{% block content %}
    <form id="nameForm" action="/searchByName" method="get">
        <p>
            患者姓名：
            <input id="name" name="name"/>
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="提交"/>
        </p>
    </form>
    <p>
        <a href="/allPatient" class="btn btn-info btn-lg" role="button">全部病人</a>
    </p>
    <p>
        <a href="/allRecord" class="btn btn-info btn-lg" role="button">全部就诊记录</a>
    </p>
    <script type="text/javascript">
        $("#nameForm").submit(function () {
            var input = $(this).find("#name");
            input.val(input.val());
        })
    </script>
{% endblock %}
