{% extends 'layout.html' %}

{% block script %}
    <script type="text/javascript" src="/js/patientForm.js"></script>
{% endblock %}

{% block content %}
    <form id="patientForm" action="/modifyPatient" method="post">
        <input name="id" value="{{ id }}" style="display: none"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">患者姓名：</label>
            <input name="name" value="{{ patient.name }}"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">身份证号码：</label>
            <input id="IDnumber" name="IDnumber" value="{{ patient.personalID }}"/>
        </div>
        <div class="form-group form-check-inline">
            <span>&nbsp &nbsp &nbsp &nbsp</span>
            {% if patient.gender === "男性" %}
                <input class="form-check-input" name="gender" type="radio" value="男性" checked/>
                <label class="form-check-label">男性</label>
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                <input class="form-check-input" name="gender" type="radio" value="女性"/>
                <label class="form-check-label">女性</label>
            {% elseif patient.gender === "女性" %}
                <input class="form-check-input" name="gender" type="radio" value="男性"/>
                <label class="form-check-label">男性</label>
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                <input class="form-check-input" name="gender" type="radio" value="女性" checked/>
                <label class="form-check-label">女性</label>
            {% else %}
                <input class="form-check-input" name="gender" type="radio" value="男性"/>
                <label class="form-check-label">男性</label>
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                <input class="form-check-input" name="gender" type="radio" value="女性"/>
                <label class="form-check-label">女性</label>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">出生年月：</label>
            <input class="date" name="birthDate" placeholder="yyyymmdd" value="{{ patient.birthDate }}"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">籍贯：</label>
            <input name="birthPlace" value="{{ patient.birthPlace }}"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">电话号码：</label>
            <input name="phoneNumber" value="{{ patient.phoneNumber }}"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">发病时间：</label>
            <input class="date" name="firstAttackDate" placeholder="yyyymmdd" value="{{ patient.firstAttackDate }}"/>
        </div>
        <div class="form-group">
            <div>
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                {% if patient.inqueue %}
                    <input id="inqueue" name="inqueue" type="checkbox" value="inqueue" onclick="inqueueClick();" checked/>
                {% else %}
                    <input id="inqueue" name="inqueue" type="checkbox" value="inqueue" onclick="inqueueClick();"/>
                {% endif %}
                <label class="form-check-label">需要住院</label>
            </div>
            {% if patient.inqueue %}
                <div id="urgent">
            {% else %}
                <div id="urgent" style="display: none">
            {% endif %}
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                {% if patient.urgent %}
                    <input name="urgent" type="checkbox" value="urgent" checked/>
                {% else %}
                    <input name="urgent" type="checkbox" value="urgent"/>
                {% endif %}
                <label class="form-check-label">需要加急</label>
            </div>
        </div>
        <div class="alert">
            <span class="text-warning" id="date"></span>
            <br>
            <span class="text-warning" id="id"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="提交"/>
        </div>
    </form>
{% endblock %}
