{% extends 'layout.html' %}

{% block css %}
    <link rel="styleSheet" type="text/css" href="/css/bootstrap-select.min.css">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/js/recordForm.js"></script>
{% endblock %}

{% block content %}
    <div class="form-group">
        <label class="col-sm-2 control-label">病人姓名：</label>
        <span>{{ name }}</span>
    </div>
    <form action="/addNewRecord" method="post">
        <input name="id" value="{{ id }}" style="display: none"/>
        <div class="diagnosis input-group-prepend">
            <label class="col-sm-2 control-label">诊断：</label>
            <select class="selectpicker" data-live-search="true" name="diagnosis" onchange="addNewDiagnosis(this)">
                <option value="不明">不明</option>
                {% for d in diagnosis %}
                <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
                <option value="addNew">添加新诊断</option>
            </select>
        </div>
        <div class="addDiagnosis form-group">
            <button class="btn btn-success" type="button" onclick="addDiagnosis()">添加诊断</button>
        </div>
        <div class="addTreatment form-group">
            <button class="btn btn-success" type="button" onclick="addTreatment()">添加用药</button>
        </div>
        <div class="form-group">
            <label>备注</label>
            <textarea class="form-control" name="note" rows="3"></textarea>
        </div>
        <div class="form-group">
            <div>
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                {% if favor %}
                    <input id="favor" name="favor" type="checkbox" value="favor" checked/>
                {% else %}
                    <input id="favor" name="favor" type="checkbox" value="favor"/>
                {% endif %}
                <label class="form-check-label">打招呼</label>
            </div>
            <div>
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                {% if inqueue %}
                    <input id="inqueue" name="inqueue" type="checkbox" value="inqueue" onclick="inqueueClick();" checked/>
                {% else %}
                    <input id="inqueue" name="inqueue" type="checkbox" value="inqueue" onclick="inqueueClick();"/>
                {% endif %}
                <label class="form-check-label">需要住院</label>
            </div>
            {% if inqueue %}
                <div id="urgent">
            {% else %}
                <div id="urgent" style="display: none">
            {% endif %}
                <span>&nbsp &nbsp &nbsp &nbsp</span>
                {% if urgent %}
                    <input name="urgent" type="checkbox" value="urgent" checked/>
                {% else %}
                    <input name="urgent" type="checkbox" value="urgent"/>
                {% endif %}
                <label class="form-check-label">需要加急</label>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="提交"/>
        </div>
    </form>
    <div class="diagnosis-default input-group-prepend" style="display: none;">
        <label class="col-sm-2 control-label">诊断：</label>
        <select class="select" name="diagnosis" data-live-search="true" onchange="addNewDiagnosis(this)">
            <option value="不明">不明</option>
            {% for d in diagnosis %}
            <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
            <option value="addNew">添加新诊断</option>
        </select>
        <button class="btn btn-danger" type="button" onclick="deleteDiv(this)">删除</button>
    </div>
    <div class="treatment-default input-group-prepend" style="display: none;">
        <label class="col-sm-2 control-label">用药：</label>
        <select class="select" name="treatments" data-live-search="true" onchange="addNewTreatment(this)">
            {% for t in treatment %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
            <option value="addNew">添加新用药</option>
        </select>
        <div class="form-group">
            <input type="number" name="day" value="0"/>天
            <span>&nbsp &nbsp</span>
            <input type="number" name="time" value="0"/>次
            <span>&nbsp &nbsp</span>
            <input name="amount" value="0"/>片/次
        </div>
        <button class="form-group btn btn-danger" type="button" onclick="deleteDiv(this)">删除</button>
    </div>

{% endblock %}
