{% extends 'layout.html' %}

{% block content %}
    <div>
        <a href="/recordForm?_id={{ patient._id }}&name={{ patient.name }}" role="button" class="btn btn-success">添加门诊记录</a>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名：</label>
        <span>{{ patient.name }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">性别：</label>
        <span>{{ patient.gender }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">年龄：</label>
        <span>{{ patient.age }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">籍贯：</label>
        <span>{{ patient.birthPlace }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">电话号码：</label>
        <span>{{ patient.phoneNumber }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">发病时间：</label>
        <span>{{ patient.firstAttackDate }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">诊断医生：</label>
        <span>{{ patient.doctorName }}</span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">诊断：</label>
        <span>{{ patient.diagnosis }}</span>
    </div>
    <div class="form-group" style="display: flex">
        <label class="col-sm-2 control-label">用药：</label>
        <div class="list-group">
            {% for treatment in patient.treatments %}
                <p class="list-group-item">
                    {{ treatment.treatment }}，
                    {% if treatment.day %}
                        {{ treatment.day }}日
                    {% endif %}
                    {% if treatment.time %}
                        {{ treatment.time }}次，
                    {% endif %}
                    {% if treatment.amount %}
                        {{ treatment.amount }}片/次
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
    {% if !patient.inqueue %}
    <div class="form-group">
        <a class="btn btn-info" role="button" href="/inqueue?_id={{ patient._id }}">需要住院</a>
    </div>
    {% endif %}
    {% if userRole < 2 %}
        <div class="form-group">
            <a class="btn btn-info" role="button" href="/modifyPatient?_id={{ patient._id }}">修改病人资料</a>
            <span>&nbsp &nbsp &nbsp &nbsp</span>
            <a class="btn btn-danger" role="button" href="/deletePatient?_id={{ patient._id }}" onclick="return confirm('你将要删除该病人！')">删除</a>
        </div>
    {% endif %}
    <div class="form-group">
        <label class="col-sm-2 control-label">相关图片：</label>
        {% for photo in patient.photos %}
            <a href="/{{ photo }}">{{ photo }}</a>
            <span>&nbsp &nbsp &nbsp &nbsp</span>
        {% endfor %}
        <form action="/uploadFile" method="post" enctype="multipart/form-data">
            <input type="text" name="patientID" value="{{ patient._id }}" style="display: none">
            <input type="file" name="files" multiple>
            <input type="submit" value="上传">
        </form>
    </div>
    <div class="form-group" style="display: flex">
        <label class="col-sm-2 control-label">门诊记录：</label>
        <div class="list-group">
            {% for record in records %}
                <div class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ record.date }}</h5>
                    </div>
                    <h7>诊断医生：</h7>
                    <small>{{ record.doctorName }}</small>
                    <h7>诊断：</h7>
                    <small>{{ record.diagnosis }}</small>
                    {% if record.treatments %}
                        <p>
                            <h7>用药：</h7>
                            {% for treatment in record.treatments %}
                                <small class="list-group-item">
                                    {{ treatment.treatment }}，
                                    {% if treatment.day %}
                                        {{ treatment.day }}日
                                    {% endif %}
                                    {% if treatment.time %}
                                        {{ treatment.time }}次，
                                    {% endif %}
                                    {% if treatment.amount %}
                                        {{ treatment.amount }}片/次
                                    {% endif %}
                                </small>
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if record.note %}
                        <p>备注：</p>
                        <small class="mb-1">{{ record.note }}</small>
                    {% endif %}
                    {% if userRole < 2 %}
                        <br>
                        <div class="form-group">
                            <a class="btn btn-info" role="button" href="/modifyRecord?_id={{ record._id }}">修改门诊记录</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger" role="button" href="/deleteRecord?_id={{ record._id }}" onclick="return confirm('你将要删除该门诊记录！')">删除</a>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
